<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
    <title>Project 2</title>

</head>

<body>
<div id="animatedBG">
    
    {{{body}}}
    <div class="footer">
    Copyright Luis Suarez
</div>
</div>

<script src="../assets/js/animation.js"></script>

  <script>
    animation.load('animatedBG', '../animation.json', function(){
      
    });
  </script>
  
</body>

</html>