<div class="navbar">
    <p class="logo">Project II</p>
    <a class="navigation" href="/help">Help</a>
    <a class="navigation" href="/settings">Settings</a>
    <a class="navigation" href="/logout">Log Out</a>
</div>

<div class="dashboard">
    <h1> Welcome {{name}} </h1>
    <div class="myTables">
        <h4>Your tables:</h4>
        {{#each tableList}}
        <div class="table">
            <a href="/deleteTable/{{this}}"><img class="deleteIcon" src="assets/img/deleteIcon.png" alt=""></a>
            <br>
            <a href="/table/{{this}}">
            
            <img class="tableIcon" src="assets/img/tableIcon.png" alt=""><br>
            {{this}}</a>
            
        </div>


        {{/each}}
    </div>
    <div class="createTable">
        <br>
        <h2 class="subtittle">Create New Table</h2>
        <form id="newTable" name="newTable" method="post" action="/newTable">
            <br>
            <label for="tableName">Table Name</label>
            <br>
            <input class="text" name="tableName" type="tableName" required/>
            <br>
            <br>
            <div class="threeColumns">
                <div class="axis">
                    <br> Name
                    <br>
                    <br> Value
                </div>

                <div>
                    X
                    <br>
                    <input class="text" name="xName" type="xName" required/>
                    <br>
                    <br>
                    <input class="text" name="xValue" type="xValue" required/>
                </div>



                <div>
                    Y
                    <br>
                    <input class="text" name="yName" type="yName" required/>
                    <br>
                    <br>
                    <input class="text" name="yValue" type="yValue" required/>


                </div>
            </div>
            <br>
            <input class="btn" type="submit" value="Create" required/>
            <br>
            <br>

        </form>
    </div>