<div class="navbar">
    <p class="logo">Project II</p>
    <a class="navigation" href="/help">Help</a>
    <a class="navigation" href="/logout">Log Out</a>
</div>
<h2>Dashboard</h2>
<h5>Hurray! you are logged in.</h5>

