<div class="navbar">
    <p class="logo">Project II</p>
    <a href="/signin">Sign In</a>
    <a href="/signup">Sign Up</a>
</div>
<div class="welcome">
    <br>
    <h1>Welcome to Project II</h1>
    <h4>A data tracking solution with basic machine learning.</h4>
    <p>This app was created to fullfill the requirements of the Coding Bootcamp at University Of Texas in Austin.</p>
    <p>Provided a series of data, this aplication explores the concept of machine learning by predicting the next value, using <a href="https://en.wikipedia.org/wiki/Linear_regression" target="blank">linear regresions</a> and <a href="https://en.wikipedia.org/wiki/Extrapolation">extrapolation</a></p>
</div>