<div class="navbar">
  <p class="logo">Project II</p>
  <a class="navigation" href="/dashboard">Dashboard</a>
  <a class="navigation" href="/help">Help</a>
  <a class="navigation" href="/logout">Log Out</a>
</div>

<div class="settings">
    <form id="updatePassword" name="updatePassword" method="post" action="/update/password">
        <br>

        <label for="password">Update Password</label>
        
        <input name="password" type="password" required />

        <input class="btn" type="submit" value="Update" />

    </form>

    <form id="firstName" name="firstName" method="post" action="/update/firstname">
        <br>

        <label for="firstName">Update First Name</label>
        
        <input name="firstname" type="text" required />

        <input class="btn" type="submit" value="Update" />

    </form>

    <form id="lastName" name="lastName" method="post" action="/update/lastname">
        <br>

        <label for="lastname">Update Last Name</label>
        
        <input name="lastname" type="text" required />

        <input class="btn" type="submit" value="Update" />

    </form>

<form id="about" name="about" method="post" action="updateAbout">
        <br>

        <label for="about">Update About</label>
        
        <textarea name="about" type="text" required ></textarea>

        <input class="btn" type="submit" value="Update" />

    </form>
    <br>
    
</div>