
<div class="navbar">
    <p class="logo">Project II</p>
    <a class="navigation" href="/">Intro</a>
    <a class="navigation" href="/signup">Sign Up</a>
</div>
<div class="signIn">
<form id="signin" name="signin" method="post" action="signin">
  <br>
  <label for="email">Email Address</label>
  <br>
  <input class="text" name="email" type="email" required/>
  <br>
  <label for="password">Password</label>
  <br>
  <input name="password" type="password" required />
  <br>
  <br>
  <input class="btn" type="submit" value="Sign In" />
  <br>
  <br>
</form>
</div>