body{
    margin:0;
    font: normal 16px Arial, Helvetica, sand-serif;
    color:#333;
  }
  
  #particles-js{
    background:firebrick;
    height:100vh;
    width: 100vw;
  }

  canvas{
      position: absolute;
      top: 0;
      right: 0;
  }

  .navbar{
    
    text-align: right;
      background-color: white;
      padding: 5px;
      padding-right: 15px;

  }
  .logo{
    position: absolute;
     left: 0;
    display: inline;
      margin-left:15px;
  }

  .welcome{
      background-color: black;
      color: white;
      width: fit-content;
      opacity: 1;
      
  }