html{
    height: 100vh;
    
}
body {
  margin: 0;
  font: normal 16px Arial, Helvetica, sand-serif;
  color: #333;
  
}

a{
    text-decoration: none;
    color: firebrick;
}

#animatedBG {
  background: #1c86e7;
  height: 99vh;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  text-align: right;
  width: 100%;
  height: 40px;;
  background-color: white;
  font-size: 25px;
  padding-top: 5px;
  
  
}
.logo {
  position: absolute;
  left: 0;
  display: inline;
  margin-left: 20px;
  font-size: 30px;
  font-weight: bolder;
}

.navigation{
    margin-right: 20px;
    color: #1c86e7;
}
.welcome {
  position: absolute;
  display: inline-block;
  background-color: white;
  color: #1c86e7;
  width: 50%;
  opacity: 1;
  margin: 100px 25%;
  border-radius: 30px;
  opacity: 0.9;

}

.logoIMG{
  position: unset;
  display: block;
  margin: 30px auto 10px;
  width: 30%;
  border: solid 1px #1c86e7;
  border-radius: 10px;
  box-shadow: 5px 5px 35px #1c86e7
}

.welcome h1 {
  font-size: 40px;
  color: firebrick;
  font-weight: bolder;
  text-align: center;
  
}

.welcome h4 {
    
   
    color: firebrick;
   
    text-align: center;
    
  }

.welcome p {
  margin: 0 10%;
}

ul{
    margin:10px 20%;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: right;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 5px;
    
}


.signIn {
    position: absolute;
    display: block;
    background-color: white;
    color: #1c86e7;
    width: 40%;
    opacity: 1;
    margin: 30vh 30%;
    border-radius: 30px;
    opacity: 0.9;
    text-align: center;
  
  }

 .signIn input, .signIn label {
      
      font-size: 25px;
  }

  .signUp {
    position: absolute;
    display: block;
    background-color: white;
    color: #1c86e7;
    width: 40%;
    opacity: 1;
    margin: 30vh 30%;
    border-radius: 30px;
    opacity: 0.9;
    text-align: center;
  
  }

 .signUp input, .signUp label {
      
      font-size: 25px;
  }

  .dashboard{
    position: absolute;
    display: block;
    background-color: white;
    color: #1c86e7;
    width: 40%;
    opacity: 1;
    margin: 10vh 30%;
    border-radius: 30px;
    opacity: 0.9;
    text-align: center;
  }

  input{
    background-color: #64aaec;
    color:white;
    border: 0;
    padding: 5px;
    border-radius: 10px;
  }

  input:hover{
    cursor: pointer;
  }

  .threeColumns{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    
  }

  .myTables{
    /* background-color: red;
    display: inline-block; */
    width: 100%
  }

.table{
  display: inline-block;
  margin: 10px;
}

  .tableIcon{
    width: 50px;
  }

  .helpDisplay{
    position: absolute;
    /* display: block; */
    background-color: white;
    color: #1c86e7;
    width: 80%;
    opacity: 1;
    margin: 10vh 10%;
    border-radius: 30px;
    opacity: 0.9;
    text-align: center;
  }
  .graph{
    width: 90%;
    /* display: inline-block; */
  }

  .tableAndGraph{
    display: grid;
    grid-template-columns: 2fr 8fr;
    height: 80vh;
    /* height: 300px; */
    /* width: 100% ; */
    /* height: fit-content; */
  } 