body{
    margin:0;
    font: normal 16px Arial, Helvetica, sand-serif;
    color:#333;
  }
  
  #particles-js{
    background:firebrick;
    height:100vh;
    width: 100vw;
  }

  

  .navbar{
    position:absolute;
    text-align: right;
    width: 100%;  
    background-color: white;
      padding: 5px;
      padding-right: 15px;

  }
  .logo{
    position: absolute;
     left: 0;
    display: inline;
      margin-left:15px;
  }

  .welcome{
    position:absolute;  
    
    background-color: black;
      color: white;
      width: 60%;
      opacity: 1;
      margin: 30vh auto;
      
      
  }

  .welcome h1{
      display: unset;
      font-size: 40px;
      color: firebrick;
      font-weight: bolder;
      text-align: center;
  }

  .welcome p{
      margin: 0 10%;
  }